<nav class="navbar navbar-expand-lg navbar-light bg-light gradient-custom-2">
    <!-- Container wrapper -->
    <div class="container ">
          <!-- Navbar brand -->
          <a class="navbar-brand me-2" href="https://mdbgo.com/">
            <img
              src="../../../assets/logo2.png"
              height="24"
              alt=""
              loading="lazy"
              style="margin-top: -1px;"
            />
          </a>
      
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div
            class="collapse navbar-collapse"
             
          >
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">VISIT</a>
              </li>
            </ul>
            <!-- Left links -->
      
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-link px-3 me-2" routerLink="/sign-in">
                Login
              </button>
              <button type="button" class="btn btn-primary me-3" routerLink="/choice">
                Sign up
              </button>
            </div>
          </div>
          <!-- Collapsible wrapper -->
    </div>
        <!-- Container wrapper -->
</nav>

<div class="ratio ratio-16x9 my-video-container">
    <iframe
      src="https://www.youtube.com/embed/vlDzYIIOYmM"
      title="YouTube video"
      
    ></iframe>
</div>
 